*.o
*.mod
*.out
*.bin
*.MOD
*.log
*log
*dSYM
*.xdmf
*.xmf

flutas*
data/*.log
data/*.out
data/*.xdmf
data/*.xmf
data/*.py
data/*.txt
data/allpart*


../utils/postprocessing/*.out
../examples/*.out
../examples/*log
../runs
../runs/*



